.header {
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    margin: 10px 90px;
    border-bottom: 1px solid black;
    font-weight:bolder;

}