.main{
    display: grid;
    grid-template-columns: 3fr 2fr;
    
}
.sideCard h4{
   font-weight: semibold;
    color: blueviolet;
}
.bookmark-blog{
    background-color: grey;
}
.bookmark-blog h3{
 color: black;
 font-size: x-large;
}